body {
  margin: 0;
  padding: 0;
}

#particles-js {
  background-color: #f6ecdf;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  z-index: -1;
  height: 100%;
}

#container {
  text-align: center;
  font-family: "Raleway";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: red;
}

#title {
  color: #5CDB95;
  font-size: 12vh;
  padding-bottom: 15px;
}

.accent {
  color: #379683;
}

#description {
  color: #5CDB95;
  font-size:4vh;
  padding-top: 20px;
  padding-bottom: 15px;
}

.button {
    background-color: transparent; /* Green */
    border-style: solid;
    border-width: 2px;
    color: #379683;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    margin-bottom: 25px;
}
